@media (max-width: 767px) {
  .offcanvas {
    visibility: visible;
    position: relative;
    background: none;
    border: none;
    justify-content: end;
    width: 285px !important;
    height: 100vh;
  }

  .offcanvas-start-md {
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
  }

  .navbar-toggler {
    cursor: pointer ;
   border: none !important;
  }

  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }

  .dropdown li a {
    padding: 5px;
  }

  .dropdown ul {
    min-width: 15.5rem;
  }

  .navbar-nav {
    display: flex;
    align-items: flex-start !important;
  }
  .navbar-nav .nav-link {
    padding-left: 10px;
  }
}

@media all and (min-width: 767px) {
  .navbar-nav li:hover ul.dropdown-menu {
    display: block;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotatex(0deg);
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
}
.dropdown {
}
.dropdown ul {
  padding: 0;
  border: 1px solid #00000049;

  background-color: rgb(255, 255, 255);
}
.dropdown li a {
  padding: 9px 10px;
  font-size: 14px;

  color: rgb(44, 44, 44);
  letter-spacing: 0.5px;
}

.dropdown li a:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);

  border: none;
}

.head-logo {
}
.head-logo img {
  width: 150px;
  padding-left: 5px;
}

.header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
}
.navbar {
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.offcanvas-body .navbar-nav:nth-child(1) {
  width: 70%;
}
.offcanvas-body .navbar-nav:nth-child(2) {
  width: 30%;
  justify-content: flex-end !important;
}

.navbar-nav .nav-link {
  min-width: 2rem;
  letter-spacing: 1px;
  height: 40px;
  color: black;
}

.navbar-nav .nav-link:hover {
  border: none;
  transition-delay: 0.1s;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
